



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*---------------------------------------------*/
.container {
	max-width: 1200px;
}





/*//////////////////////////////////////////////////////////////////
[ Container classes ]*/

/*Adjust colors according to brand*/
.main-container-wrapper100 {
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
}

.container-contact100 {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}

.wrap-contact100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 55px;
}

/*//////////////////////////////////////////////////////////////////
[ Containers- IDs]*/
#userContainer {
  padding: 10px 15px;
}

.surveyQuestions {
  background-color: #fff;
}

#submitWrapper {
  padding: 5px 15px 15px;
  background-color: #ffffff;
}

@media (max-width: 576px) {
  #submitWrapper {
    padding: 20px 15px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Rewards info ]*/

/*Survey Page*/
.rewards-summary-container {
  width: 83%;
  margin: 10px auto 0px;
  padding: 10px;
  background: #edf3f3;
  border-radius: 10px;
}

.rewards-subtitle {
  font-family: Poppins-Regular;
  color: #494545;
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 5px;
}

.rewards-summary {
  color: #494545;
}


/* Response Recorded */
.rewards-expiredContainer {
  height: 100%;
}

.rewards-vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rewards-image {
  max-width: 95%;
  height: auto;
}

.rewards-img-container {
  text-align: center;
  padding: 5px 5px 10px;
  background: #FFEBCD;
  border-radius: 10px;
  margin-bottom: 15px;
}

.rewards-explainer {
  margin-bottom: 10px;
  color: black;
}

.streak-fires {
  margin: 10px 0 0;
}

.streak-subtitle {
  font-family: Poppins-Regular;
  font-weight: bold;
  color: #494545;
  font-size: 16px;
}

.streak-fires-in-container {
  margin: 15px 0 0;
}


.rewards-ending-paragraph {
  width: 90%;
  margin: 5px auto 0;
  text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
}



/*------------------------------------------------------------------
[ Labels - True/False, Slider ]*/
.explainer-label {
  position: relative;
  width: 100%;
  text-align: center;
  color: #b2b2b2;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 0 0;
}

.range-labels {
  padding: 0;
  list-style: none;
}


#sliderLabelLeft {
  text-align: left;
  width: 10%;
}

#sliderLabelRight {
  text-align: right;
  width: 10%;
}

#sliderLabelMiddle {
  width: 14%;
  color: #b2b2b2;
}

.sliderLabel {
      position: relative;
      float: left;
      width: 16.5%;
      text-align: center;
      color: black;
      font-size: 14px;
      cursor: pointer;
}

.trueOrFalse {
  width: 25%;
  font-size: 14px;
  padding-bottom: 5px;
}

.trueVal {
  color: green;
  font-size: 16pt;
  cursor: pointer;
}

.falseVal {
  color: red;
  font-size: 16pt;
  cursor: pointer;
}

/*------------------------------------------------------------------
[ Input ]*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 0px;
}

/*Using this class for titles on the h3*/
.label-input100 {
  font-family: Poppins-Regular;
  font-weight: bold;
  color: #494545;
  line-height: 1.5;
  padding-bottom: 25px;
}


/*//////////////////////////////////////////////////////////////////
[ Focus Effects ]
[.focus-input100] - universal used by all the focus spans */
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/*Animates on JQuery action*/
/* gets the following .focus-input100 and aplies the before mode */
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #7f7f7f;
}

/* Triggers by JS on appropriate action */
.has-val.questionContainer + .focus-input100::before {
  width: 100%;
}

/*=========================================================
[.input100] - for short text and long text */
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

input.input100 {
  height: 25px;
}

textarea.input100 {
  min-height: 70px;
  padding: 7px 0 0;
  border: 0.1pt solid rgb(230, 227, 227);
}

/* Triggers by JS on focus of text fields */
.has-focus.questionContainer + .focus-input100::before {
  width: 100%;
}

/*=========================================================
[.slider100] - for sliders */
.slider100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
}

/*=========================================================
[.radio100] - for true or false */
.radio100 {
  width: 25px;
  height: 25px;
  background: transparent;
  font-family: Poppins-Medium;
  color: #333333;
  cursor: pointer;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -o-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 40px 15px;
  }
}

@media (max-height: 670px) {
  .rewards-vertical-center {
    height: 100%;
  }

  .rewards-expiredContainer {
    height: 670px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-input100 {
  font-family: FontAwesome;
  padding: 5px;
  margin: 5px;
  color: #c80000;
  font-size: 14px;
}

.display-alert-sign::before {
  content: "\f06a   ";
  font-size: 12px;
}

.display-alert-sign::after {
  content: attr(data-validate);
  font-family: Poppins-Regular;
  font-size: 12px;
}

/*Animates on missing Input to turn Red*/
.focus-input100::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #c80000;
}

/* Triggered by JS on missing input to turn the bar red */
/* gets the descendante .questionContainer of the wrap-input100 that has the
.alert-validate class. The '+' then selects .focus-input100 span and aplies the after mode */
.alert-validate .questionContainer + .focus-input100::after {
  width: 100%;
}

/*//////////////////////////////////////////////////////////////////
[ OTHER PAGES ]*/
/*------------------------------------------------------------------
[ Expired Survey ]*/

.wrap-expired {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 55px;
}

@media (max-width: 576px) {
  .wrap-expired {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px 15px 20px;
  }
}

.expiredContainer {
  height: 100%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-paragraph {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 0px;
}

.footer-hr {
  width: 100%;
  border: 1px solid #644e4e;
  margin:   15px auto 10px;
}

/*------------------------------------------------------------------
[ Completed Survey ]*/
.main-subtitle {
  font-family: Poppins-Regular;
  font-weight: bold;
  color: #494545;
  font-size: 16px;
  padding: 25px 0 0;
}

.survey-error-message {
  font-family: Poppins-Regular;
  font-weight: bold;
  color: #494545;
  font-size: 16px;
  padding: 0;
}