<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Survey Error</title>

    <!-- Loading Bootstrap, JS, and Popper -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Template CSS Loads -->
    <link rel="stylesheet" type="text/css" href="{% static 'template/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'template/css/util.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'template/css/main.css' %}">
    
  </head>
  
  <body>

  <div class="main-container-wrapper100 expiredContainer">
      <!-- Expired Info -->
      <div class="container-contact100 text-center vertical-center" id="userContainer">
        <div class="wrap-contact100" id="userWrapper">
          <h1 class="contact100-form-title">
            Internal Error!
          </h1>
          <h5 class="survey-error-message">
          {{error}}
          </h5>
          <p class="center-paragraph">
            Sorry, there was an internal error processing your survey.
          </p>
          <p class="center-paragraph">
            You can email us to report the issue: <br>
            <a href="mailto: scp002@morningside.edu" style="font-style: italic">scp002@morningside.edu <a>
          </p>
          </p>
          </br>
        </div>
      </div>  <!--End Expired Info-->
      
    </div> <!-- Ends Main Container -->  
  </body>
</html>