<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Survey Recorded</title>

    <!-- Loading Bootstrap, JS, and Popper -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Template CSS Loads -->
    <link rel="stylesheet" type="text/css" href="{% static 'template/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'template/css/util.css' %}">
  	<link rel="stylesheet" type="text/css" href="{% static 'template/css/main.css' %}">
    
  </head>
  
  <body>
    {% if unlocked %} <!-- Reward unlocked --> 

      {% include "./partial/_reward_unlocked.html" %}  

    {% else %} <!-- No reward yet -->

      {% include "./partial/_no_reward.html" %}

    {% endif %}
  </body>
</html>